@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input {
        --tw-bg-opacity: 1;
        accent-color: rgb(96 165 250 / var(--tw-bg-opacity));
    }

    ::selection {
        @apply bg-primary-500 text-white;
    }

    /*For Firefox */
    ::-moz-selection {
        @apply bg-primary-500 text-white;
    }

    @media screen and (min-width: 1000px) {
        .container {
            width: 75%;
        }
    }

    /* Form */
    select.filter-dropdown {
        @apply w-28 md:w-44 h-8 block appearance-none pl-2 pr-8
        px-3 py-2 m-[2px] text-sm leading-tight
        text-black bg-white cursor-pointer
        hover:shadow-sm
        hover:bg-gray-100
        border-none focus:outline-none
        focus:border-none
        rounded-lg
    }

    input.search {
        @apply w-40 md:w-44 h-11
        block bg-white
        p-2 pl-10 text-sm text-gray-900
        border border-gray-400
        focus-visible:outline
        focus-visible:outline-1
        focus-visible:outline-primary-500
        focus-visible:border-primary-500
        rounded-lg
    }

    .form-input {
        @apply block w-full
        text-gray-900 text-sm
        rounded-lg p-2.5
        border border-gray-300
        shadow-sm bg-gray-50
        focus-visible:outline
        focus-visible:outline-1
        focus-visible:outline-primary-500
        focus-visible:border-primary-500;
    }

    form .submit-btn {
        @apply text-white bg-primary-500 hover:bg-primary-600
        focus:ring-4 focus:outline-none focus:ring-primary-300
        font-bold rounded-lg
        text-base mx-1 px-5 py-2.5
        disabled:bg-opacity-55 disabled:pointer-events-none
    }

    form .clear-btn {
        @apply text-white bg-gray-600 hover:bg-gray-700
        focus:ring-4 focus:outline-none focus:ring-gray-300
        font-bold  rounded-lg
        text-base
        mx-1 px-5 py-2.5
    }

    .upload-btn {
        @apply flex items-center
        gap-2 px-4 py-2
        text-base font-bold text-center text-white
        transition-all
        rounded-lg cursor-pointer
        bg-primary-500 hover:bg-primary-600
    }

    /* Table */
    .table-body .table-cell {
        @apply align-middle;
    }

    .table-head .table-cell {
        @apply text-primary-600 align-middle;
    }

    /* Pagination */
    .prev-btn {
        @apply relative
        inline-flex
        items-center
        rounded-l-md
        px-2 py-2
        text-gray-400
        ring-1 ring-inset ring-gray-300
        hover:bg-gray-50
        focus:z-20 focus:outline-offset-0
        cursor-pointer
        disabled:cursor-not-allowed
        disabled:opacity-50;
    }

    .next-btn {
        @apply relative
        inline-flex
        items-center
        rounded-r-md
        px-2 py-2
        text-gray-400
        ring-1 ring-inset ring-gray-300
        hover:bg-primary-100
        focus:z-20 focus:outline-offset-0
        cursor-pointer
        disabled:cursor-not-allowed
        disabled:opacity-50;
    }

    .active-link {
        @apply relative
        z-10
        inline-flex
        items-center
        bg-primary-600
        px-4 py-2
        text-sm font-semibold text-white
        focus:z-20
        focus-visible:outline
        focus-visible:outline-2
        focus-visible:outline-offset-2
        focus-visible:outline-primary-600;
    }

    .default-link {
        @apply relative
        inline-flex
        items-center
        px-4 py-2
        hover:bg-primary-100
        text-sm
        font-semibold
        text-gray-900
        ring-1 ring-inset ring-gray-300
        focus:z-20 focus:outline-offset-0;
    }
}